@model Jev

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Jev</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JevNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JevNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JevAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JevAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Particular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Particular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncodedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncodedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountingPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountingPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FundId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FundId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialAccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialAccountId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
